body {
    display: block;
    margin-top: 10%;
    background-color: #e9ebee;
}
.container {
    width: 40%;
    height: fit-content;
    margin: auto;
    flex-direction: column; /* Để các phần tử bên trong sắp xếp theo chiều dọc */
    border-radius: 2px ;
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 15px;
}
.lineFull {
    width: 100%; /* Độ rộng của đường thẳng, để lại 10% cho margin left và right */
    height: 1px; /* Chiều cao của đường thẳng */
    background-color: black; /* Màu sắc của đường thẳng */
    opacity: 0.2; /* Độ mờ */
}
.imgCustom{
    width: 20%;
    height: 20%;
    border-radius: 20%; /* Bo tròn góc */
    border: 7px solid #d3d3d3; /* Viền màu trắng xám */
}
.spinner-border {
    display: none;
}

