:root{
    --header-high:70px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
}


header{
    background-color:rgba(13,110,253,1);
    height: var(--header-high);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3;
}


/* header i{
    height: 36px;
    width: 36px;
    border: 1px solid black;
    border-radius: 50%;
    line-height: 36px !important;
    text-align: center;
    background-color: #777;
} */


header i:hover{
    color: black;
    background-color: #fff;
}


main{
    padding-top: var(--header-high);
}

.feed .post {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.feed .post:last-child {
    border-bottom: none;
}


.contacts {
    overflow-y: auto;
    height: 100vh;
    width: 356px;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: var(--header-high);
    right: 74px;
}

.contacts ul {
    padding: 0;
    list-style: none;
    max-height: 280px;
    overflow: hidden;
}

.contacts li{
    margin-bottom: 2px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 6px;
    min-height: 54px;
}

.contacts li:hover{
    background-color: #eee;
}

.contacts li:last-child{
    margin-bottom: 0;
}


/* user active  */
.active{
    background-color: rgb(4, 189, 63);
    width: 10px;
    height: 10px;
    position: absolute;
    left: 46px;
    bottom: 10px;
}

/* custom scrollbar  */
/* For WebKit browsers (Chrome, Safari) */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    /* Adjust the width as desired */
    height: 5px;
    /* Adjust the height as desired */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    /* Color of the scrollbar thumb */
    border-radius: 50px;
    /* Rounded corners */
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Color of the scrollbar track */
}

/* For Firefox */
.custom-scrollbar {
    scrollbar-width: thin;
    /* Make scrollbar thinner */
    scrollbar-color: #888 #f1f1f1;
    /* Thumb color and track color */
}




/* style for form create post  */
#fileInput {
    display: none;
}

.contain-img-video {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin:10px 0 10px 0;
    height: 200px;
    max-height: 200px;
    overflow-y: auto;
}

.contain-img-video .img-video-item {
    margin-bottom: 10px;
}

.contain-img-video .img-video-item:last-child{
    margin-bottom: 0;
}

.addition {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.addition i:hover{
    color: #888;
}

.img-video-item i{
    top: -5px;
    right: -5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #888;
    text-align: center;
    line-height: 30px;
}


.img-video-item i:hover{
    color: #fff;
    background-color: #777;
}


.img-video-item img{
    max-width: 100%;
    height: auto;
    display: block;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.41); 
box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.41);
}


.status{
    height: 50px;
}


/* css poster  */
.post{
    -webkit-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.32); 
box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.32);
border-radius: 5px;
margin-bottom: 60px;
}




/* //post header  */
.post-header{
    display: flex;
    padding:0 10px 0 10px;
}

.post-access button{
    font-size: 0.9rem;
    padding: 6px;
    text-align: center;
    background-color: #babcc2;
    color: #333;
    border: 0;
    padding: 0 5px 0 5px;
    margin-bottom: 10px;
}


.posting-time{
    margin: -3px 0 5px 0;
}



/* ///post body   */
.post-body{
    width: 100%;
    height: 300px;
    /* border: 1px solid black; */
    position: relative;
    text-align: center;
}


.post-body img{
    width: 100%;
    height: 100%;
    position: relative;

}

.number-hidden-item{
    font-size: 4rem;
    color: #333;
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
}

/* ///post footer  */
.post-footer{
    height: 50px;
    padding-left: 10px;
}


.post-footer i{
    margin:10px 10px 0 0;
}

.post-footer i:hover{
    color: #9c9c9c;
}

.comment-section{
    padding: 0 10px 0 10px;
}



/* style for navigation */
.navigation{
    border: 1px solid black;
    margin-right: 10px;
}



/* //style for notification  */
.notification{
    position: relative;

}

.notification-box{
    position: absolute;
    background-color: #9e9c9c;
    right: -52px;
    top: 52px;
    width: 300px;
    border-radius: 4px;
    display: none;
}



/* .notification-box::before{
    content: "";
    position: absolute;
    top: -14px;
    right: 8px;
    border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 14px solid #555;
} */



.notification-box-header{
    height: 54px;
    font-size: 24px;
    line-height: 54px;
    padding-left: 14px;
}


.notification-box-body{
    height: 300px;
    overflow-y: auto;
}
.notification-item{
    border-radius: 4px;
    padding: 6px 6px;
    margin: 0px 8px 2px;
    cursor: pointer;
}


.notification-item:hover{
    background-color: #777;
    -webkit-box-shadow: 0px 0px 1px 0px #000000; 
box-shadow: 0px 0px 1px 0px #000000;
}

.notification-content{
    width: 236px;
}

.notification-box-body button{
    margin: 14px auto 10px;
    padding: 4px 24px;
    border-radius: 16px;
}



.user-operation{
    position: relative;
}

.user-operation-box{
    position: absolute;
    background-color: #9e9c9c;
    right: 0px;
    width: 300px;
    top: 52px;
    border-radius: 4px;
    display: none;
    padding: 10px 0;
}

.user-operation-box-item{
    display: flex;
    padding:5px 5px 5px 0;
    align-items: center;
    margin: 0 8px;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
}

.user-operation-box-item:hover{
    background-color: #777;
    -webkit-box-shadow: 0px 0px 1px 0px #000000; 
box-shadow: 0px 0px 1px 0px #000000;
}


.user-operation-box-item i{
    margin-right: 6px;
    padding-left: 6px;
}




.messenger{
    position: relative;
}


.messenger-box{
position:absolute;
background-color: #9e9c9c;
top: 52px;
width: 300px;
border-radius: 4px;
right: -104px;
display: none;
}


.messenger-box-header{
    height: 54px;
    font-size: 24px;
    line-height: 54px;
    padding-left: 14px;
}

.messenger-box-body{
    height: 300px;
    overflow-y: auto;
}

.inbox{
    align-items: center;
    display: flex;
    border-radius: 4px;
    padding: 6px 6px;
    margin: 0px 8px 2px;
    cursor: pointer;
}

.inbox:hover{
    background-color: #777;
    -webkit-box-shadow: 0px 0px 1px 0px #000000; 
box-shadow: 0px 0px 1px 0px #000000;
}

/* ///common part  */
.overlay{
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }
  
  
  .icon-S{
      font-size: 16px;
      cursor: pointer;
  }
  
  .icon-M{
      font-size: 20px;
      cursor: pointer;
  }
  
  .icon-L{
      font-size: 24px;
      cursor: pointer;
  }


  .icon-affect{
    height: 36px;
    width: 36px;
    border-radius: 50%;
    line-height: 36px !important;
    text-align: center;
    background-color: #777;
  }

  .heart-red{
    color: red;
  }




  .truncate-1line {
    /* width: 300px; Set the desired width */
    display: -webkit-box; /* Display as Webkit box */
    -webkit-box-orient: vertical; /* Vertical box orientation */
    -webkit-line-clamp: 1; /* Show a maximum of 2 lines */
    overflow: hidden; /* Hide the overflowed text */
    text-overflow: ellipsis; /* Display ellipsis (...) */
}

.truncate-2line{
    display: -webkit-box; /* Display as Webkit box */
    -webkit-box-orient: vertical; /* Vertical box orientation */
    -webkit-line-clamp: 2; /* Show a maximum of 2 lines */
    overflow: hidden; /* Hide the overflowed text */
    text-overflow: ellipsis; /* Display ellipsis (...) */
}
  



/*search bar*/
.search-input{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    position:absolute;
    top:25%;
    left:8%;
}
.fa-magnifying-glass{
    color: white;
}
/*homepage icon*/
.homepage-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
#homepage-icon{
    width: 60px;
    height: auto;
    text-decoration: none;
    cursor: pointer;
}
#homepage-icon>i{
    color:white;
    font-size:40px;
}