
/* //SET SOME VARIABLE FOR HOME PAGE */
:root{
    --header-high:70px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
}

header{
    background-color:rgba(13,110,253,1);
    height: var(--header-high);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3;
}

main{
    padding-top: var(--header-high);
}


/* header i:hover{
    color: black;
    background-color: #fff;
} */

/* .feed .post {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.feed .post:last-child {
    border-bottom: none;
} */



/* STYLE FOR CONTACT AND GROUP CHAT ITIEM  */
.contacts {
    overflow-y: auto;
    height: 100vh;
    width: 356px;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: var(--header-high);
    right: 74px;
}

.contacts ul {
    padding: 0;
    list-style: none;
    max-height: 280px;
    overflow: hidden;
}

.contacts li{
    margin-bottom: 2px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 6px;
    min-height: 54px;
}

.contacts li:hover{
    background-color: #eee;
}

.contacts li:last-child{
    margin-bottom: 0;
}


/*STYLE FOR FORM CREATE POST  */
#fileInput {
    display: none;
}

.contain-img-video {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin:10px 0 10px 0;
    height: 200px;
    max-height: 200px;
    overflow-y: auto;
}

.contain-img-video .img-video-item {
    margin-bottom: 10px;
}

.contain-img-video .img-video-item:last-child{
    margin-bottom: 0;
}

.addition {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.addition i:hover{
    color: #888;
}

.img-video-item i{
    top: -5px;
    right: -5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #888;
    text-align: center;
    line-height: 30px;
}


.img-video-item i:hover{
    color: #fff;
    background-color: #777;
}


.img-video-item img{
    max-width: 100%;
    height: auto;
    display: block;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.41); 
box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.41);
}

.status{
    height: 50px;
}


/*STYLE FOR POST*/
.post{
    -webkit-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.32); 
box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.32);
border-radius: 5px;
margin-bottom: 60px;
}


.post-header{
    display: flex;
    padding:0 10px 0 10px;
}

.post-access button{
    font-size: 0.9rem;
    padding: 6px;
    text-align: center;
    background-color: #babcc2;
    color: #333;
    border: 0;
    padding: 0 5px 0 5px;
    margin-bottom: 10px;
}
.posting-time{
    margin: -3px 0 5px 0;
}



.post-body{
    width: 100%;
    height: 300px;
    position: relative;
    text-align: center;
}


.post-body img{
    width: 100%;
    height: 100%;
    position: relative;

}

.number-hidden-item{
    font-size: 4rem;
    color: #333;
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
}


.post-footer{
    height: 50px;
    padding-left: 10px;
}

.post-footer i{
    margin:10px 10px 0 0;
}

.post-footer i:hover{
    color: #9c9c9c;
}

.comment-section{
    padding: 0 10px 0 10px;
}



/* STYLE FOR NAVIGATION  */
.navigation{
    border: 1px solid black;
    margin-right: 10px;
}



/*STYLE FOR NOTIFICATION BOX AND NOTIFICATION ITEM */
.notification{
    position: relative;

}

.notification-box{
    position: absolute;
    background-color: #9e9c9c;
    right: -52px;
    top: 52px;
    width: 300px;
    border-radius: 4px;
    display: none;

    padding-bottom: 10px;
}


.notification-box-header{
    height: 54px;
    font-size: 24px;
    line-height: 54px;
    padding-left: 14px;
}

.notification__icon-wrapper {
    position: relative;
}
.notification-quantity {
    position: absolute;
    top: -20%;
    right: 0;

    color: white;
    font-weight: bold;
    font-size: 11px;
    background-color: red;

    width: 20px;
    height: 20px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1000;
}

.notification-box-body {
    height: 300px;
    max-height: 300px;

    overflow-y: auto;
}

.notification-item{
    border-radius: 4px;
    padding: 6px 6px;
    margin: 5px 8px;
    cursor: pointer;

    display: flex;
    align-items: center;
}
.notification-unread {
    background-color: #5a87e5 !important;
    border: 1px solid #ccc;
}
.notification__infor {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.notification__infor-user-name {
    font-weight: bold;
}
.notification-content{
    width: 200px;
}
.notification__image-container {
    width: 40px;
    height: 40px;
    margin-right: 10px;

    border: 1px solid white;
    border-radius: 50%;
}
.notification__image-container img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    border-radius: 50%;
}


.notification-item:hover{
    background-color: #777;
    -webkit-box-shadow: 0px 0px 1px 0px #000000; 
    box-shadow: 0px 0px 1px 0px #000000;
}

.notification-box-body button{
    margin: 14px auto 10px;
    padding: 4px 24px;
    border-radius: 16px;
}



/* STYLE FOR USER OPERATION BOX AND OPERATION ITEM  */
.user-operation{
    position: relative;
}

.user-operation-box{
    position: absolute;
    background-color: #9e9c9c;
    right: 0px;
    width: 300px;
    top: 52px;
    border-radius: 4px;
    display: none;
    padding: 10px 0;
}

.user-operation-box-item{
    display: flex;
    padding:5px 5px 5px 0;
    align-items: center;
    margin: 0 8px;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
}

.user-operation-box-item:hover{
    background-color: #777;
    -webkit-box-shadow: 0px 0px 1px 0px #000000; 
box-shadow: 0px 0px 1px 0px #000000;
}


.user-operation-box-item i{
    margin-right: 6px;
    padding-left: 6px;
}



/* STYLE FOR MESSENGER BOX AND MESSENGER ITEM (USER) */

.messenger{
    position: relative;
}


.messenger-box{
position:absolute;
background-color: #9e9c9c;
top: 52px;
width: 300px;
border-radius: 4px;
right: -104px;
display: none;
}


.messenger-box-header{
    height: 54px;
    font-size: 24px;
    line-height: 54px;
    padding-left: 14px;
}

.messenger-box-body{
    height: 300px;
    overflow-y: auto;
}

.inbox{
    align-items: center;
    display: flex;
    border-radius: 4px;
    padding: 6px 6px;
    margin: 0px 8px 2px;
    cursor: pointer;
}

.inbox:hover{
    background-color: #777;
    -webkit-box-shadow: 0px 0px 1px 0px #000000; 
box-shadow: 0px 0px 1px 0px #000000;
}





/* WHEN USER HEARTED FOR POST  */
.heart-red{
    color: red;
  }


/*SET THIS FOR ITEM USER WHEN ONE USER IS ACTIVE */
.active{
    background-color: rgb(4, 189, 63);
    width: 10px;
    height: 10px;
    position: absolute;
    left: 46px;
    bottom: 10px;
}






/*STYLE FOR CHAT BOX */
.chat-box {
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 300px;
    height: 400px;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 0;
    position: fixed;
    right: 74px;
    bottom: 0;
    display:none;
  }
  
  .chat-header {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background-color:rgba(13,110,253,1);
    border-radius: 5px 5px 0 0;
    color: #fff;
  }
  
  .profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .user-name{
    font-weight: bold;
  }
  
  
  .chat-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
  }
  
  .chat-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
    background-color: #f5f5f5;
  }
  
  .chat-input input {
    flex: 1;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
  }
  
  .chat-input button {
    margin-left: 10px;
    padding: 5px 10px;
  }
  
  .close-chat {
    font-size: 20px;
    position: absolute;
    right: 30px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
  }


  .close-chat:hover{
    background-color: #2f7bff;
    border-radius: 50%;
  }
  


/*search bar*/
.search-input{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    position:absolute;
    top:25%;
    left:8%;
}
.fa-magnifying-glass, fa-users{
    color: white;
}
/*homepage icon*/
.homepage-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
#homepage-icon{
    width: 60px;
    height: auto;
    text-decoration: none;
    cursor: pointer;
}
#homepage-icon>i{
    color:white;
    font-size:40px;
}
