body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.modal-backdrop {
    display: none;
}

.show-modal .modal-backdrop {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.modal-content {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 30%;
}

.show-modal .modal-content {
    display: block;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
}
._8icz {
    width: 90%; /* Độ rộng của đường thẳng, để lại 10% cho margin left và right */
    height: 1px; /* Chiều cao của đường thẳng */
    background-color: black; /* Màu sắc của đường thẳng */
    margin: 10px 5%; /* Margin top và bottom là 10px, margin left và right là 10% */
    opacity: 0.3; /* Độ mờ */
}
.lineFull {
    width: 100%; /* Độ rộng của đường thẳng, để lại 10% cho margin left và right */
    height: 1px; /* Chiều cao của đường thẳng */
    background-color: black; /* Màu sắc của đường thẳng */
    opacity: 0.4; /* Độ mờ */
}
.genderbox {
    width: 33%;
    border-radius: 5px;
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2); /* Đường viền mờ */

}
.textDangNhap{
    font-size: 30px;
    margin: 10% 20px 20px 0px;
    text-align: center;
}
.cssTxtTenDangNhap{
    margin: 20px 20px 20px 0px;
    display: flex;
    justify-items: right;
    justify-content: left;
    width: 100%;
}
.container-header{
    height: 20vh;
    width: 100%;
}
body, html, input, button, a {
    font-family: 'Roboto', sans-serif;
}
.logoLogin{
    width: 50%;
    overflow: hidden;
    position: relative;
    background-color:#80d8ff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.background-container {
    /* Thiết lập kích thước và căn giữa nếu cần */
    width: auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: 0px;
    padding-right: 0px;
    /* Đặt ảnh làm nền */
    /*    background-image: url('./image/th.jpg');  Đặt đường dẫn đến file ảnh của bạn */
    background-size: cover; /* Có thể sử dụng 'contain' nếu bạn muốn hiển thị toàn bộ ảnh */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Cố định hình nền khi cuộn trang */
    /* Mã màu nền fallback (nếu ảnh không tải được hoặc không tồn tại) */
    background-color: #f2f2f2;
    border-radius: 10px;
}
.background-login{
    background-color: white;
    width: 60%;
    height: fit-content;
    display: flex;
    border-radius: 10px;
}

.TenDangNhap_Pass{
    display: block;
}

.CanhBaoBanDau{
    display: none;
}
.CanhBaoKhiDuLieuSai{
    display: flex;
}
.ButtonDangNhap{
    display: flex;
    width: 95%;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
    justify-content: center;
    background: color #80d8ff;
    ;
    color: #f2f2f2;
    text-size-adjust: initial;
}
.Quenmatkhau{

    margin-right: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: right;

}
.container-quenpass_sms{
    display: flex;
    justify-content: right;
}

.sms{
    margin-right: 10px;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.ButtonFacebook{
    margin-left: 10px;
    width: 95%;
    height: 10%;
    background-color:#f2f2f2;
    color: blue;
}
.ButtonEmail{
    margin-left: 10px;
    width: 95%;
    margin-top: 10px;
    height: 10%;
    background-color:#f2f2f2;
    color: darkred;
}
.container-dangky{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 10px 0px;
}
.muted-text {
    opacity: 0.2; /* Giá trị 0.5 tạo ra kiểu mờ, giá trị từ 0 (hoàn toàn mờ) đến 1 (không mờ) */
    size: 5px;
}
.container-formLogin{
    width: 50%;
}
.imglogo{
    width: 70%;
    border-radius: 10px;
    position: absolute;
    height:50%;
}
@media all and (max-width:650px){
    .logoLogin{
        width: 0%;
        height: 0%;
        display: none;
    }
    .imglogo{
        width: 0%;
        height: 0%;
        display: none;
    }
    .background-login{
        width: 100%;
    }
    .container-formLogin{
        width: 100%;
    }
    .modal-content {
        width: 100%;
    }
    .textDangNhap{
        font-size: 30px;
        margin: 5% 20px 20px 0px;
        text-align: center;
    }
}
@media all and (max-width:769px){
    .background-login{
        width: 100%;
    }
    .modal-content {
        width: 100%;
    }
}
@media all and (max-width:1024px){
    .background-login{
        width: 80%;
    }
    .modal-content {
        width: 70%;
    }
}




